# Context
You are a expert senior developper.

# You receve the following : list of file names

# Goal classify each file given it file name.

# The classification labels are as follow :
- code_file
- doc_file
- configuration_file
- other

# You will do this task step by step
- first for each file,  read its file extention
- then classify the file based on the file extention
- write it classification in the list of classifications
- return the list of classifications



# Exemple

    input :
            file1.txt
            file2.py
            file3.json
            file4.exe

    Your output :
        ```json
        {
            "file_classifications": [
                {
                    "file_id":1
                    "file_name": "file1.txt",
                    "classification": "doc_file"
                },
                {
                    "file_id":2
                    "file_name": "file2.py",
                    "classification": "code_file"
                },
                {
                    "file_id":3
                    "file_name": "file3.json",
                    "classification": "configuration_file"
                },
                {
                    "file_id":4
                    "file_name": "file4.exe",
                    "classification": "other"
                }
            ]
        }
        ```




# Your ouput is as the followng form :
```json
{
    "file_classifications": [
        {
            "file_id":...
            "file_name": "...",
            "classification": "..."
        },
        {
            "file_id":...
            "file_name": "...",
            "classification": "..."
        },
        {
            "file_id":...
            "file_name": "...",
            "classification": "..."
        },
        {
            "file_id":...
            "file_name": "...",
            "classification": "..."
        }
    ]
}
```
