# Context
You are in rewriting a query based sentence as a goal based sentence .

# You receve a sentence about code. And the code base name is {{library_name}}.

# Your goal is to rewrite the the sentence as a goal based sentence.

# You follow this Rules
1 - You rewriting start with : "My goal is ..."
2 - Your output is a JSON

# You will make this task steps by steps :
1 - Identify the goal or goals of the sentence in respect of the library {{library_name}}
2 - Repeat in "justification" :
    - The goals of the sentence are ....
    - My rewriting will start with : "My goal is ..."
3 - put your rwriting in the "goal_rewrite" field


# The structure of your output is a JSON of the following structure :

{
"justification" : "...",
"goal_rewrite" : "..."
}
